{% extends 'admin.html.twig' %}

{% block title %}
Transaction: {{ transaction.id }}
<a href="{{ path('transactions_edit', {id: transaction.id }) }}" class="btn btn-warning"><i class="bi bi-pencil-square"></i> Edit</a>
<a href="{{ path('transactions_delete', {id: transaction.id }) }}" class="btn btn-danger"><i class="bi bi-trash"></i> Delete</a>
{% endblock %}

{% block content %}
    {% include 'transaction/_details.html.twig' %}
{% endblock %}
